
:root{
    --bg-color:#000000;
    --text-color:#fff;
    --main-color:#ffffff;
  }

.navbar{
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
}

.navbar-brand{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.launch-time{
    display: flex;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
    border: 1px solid black;
    padding: 10px;

}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 1rem;
    margin-bottom: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.launch-time div span{
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-nav{
    text-align: center;
    justify-content: center;
}
.nav-item{
    text-align: center;
    justify-content: center;
}

.nav-text{
    margin-top: 10px;
    text-align: center;
    font-size: 8px;
    letter-spacing: 0.5px;
}

.navbar-toggler{
    display: flex;
    margin-left: 80%;
    z-index: -1;
}

.bg-image{
    width: 100%;
    height: 120vh;
    overflow: hidden;
}
.bg-image img{
    background-position: cover;
    opacity: 0.2;
}

.eloque-title{
    width: 100%;
    overflow: hidden;
}

.eloque-title img{
    width: 100%;
    position: absolute;
    top: 10%;
    z-index: -1;
}

.ecllips{
position: absolute;
width: 100%;
height: 712px;
left: 0;
top: 0;
background: #007bff;
filter: blur(20000px);
z-index: -999;
overflow: hidden;
}
@keyframes moveEllipse2 {
    0% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(20%);
    }
  }
  
  @keyframes moveEllipse3 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
.ecllips2{
    position: absolute;
    width: 300px;
    height: 100px;
    left: 0;
    top: 250px;
    background: #0385ff;
    filter: blur(50px);
    z-index: -999;
    overflow: hidden;
    animation: moveEllipse2 2s linear infinite alternate;
    animation: moveEllipse3 2s linear infinite alternate;
    }
    .ecllips3{
        position: absolute;
        width: 100px;
        height: 100px;
        right: 0;
        top: 400px;
        background: #ffffff;
        filter: blur(80px);
        z-index: -999;
        overflow: hidden;
        animation: moveEllipse3 s linear infinite alternate;
        }


a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.home{
    width: 100%;
    overflow: hidden;
}


.reg-now{
    font-size: 10px;
    background-color: rgb(7, 0, 74);
    margin: 20px 100px;
    margin-bottom: 50px;
    padding: 15px;
    text-align: center;
    letter-spacing: 0.5px;
    border-radius: 5px;
    z-index: -1;

}

#blue-bg{
    height: 900px;
    position: absolute;
    overflow-x: hidden;
    right: 0;
    top: 10px;
    opacity: 100%;
    z-index: -1;
    }

    #white-bg{
        height: 500px;
        position: absolute;
        right: 0;
        overflow-x: hidden;
        top: 0;
        opacity: 40%;
        z-index: -999;
        }

.date-venue{
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 240px;
}
.date-venue .datee{
    font-weight: 700;
    letter-spacing: 6px;
    color: rgba(65, 0, 0, 0.881);
    text-decoration: overline;
}
.dateee{
    font-weight: bold;
    letter-spacing: 5px;
}
.date-venue .venuee span{
    font-weight: 700;
    letter-spacing: 6px;
    color: black;
}

.date-venue .venuee{
    letter-spacing: 0.5px;
    font-weight: 500;
    color: rgb(0, 0, 114);
    padding: 0px 20px;
}


.events{
    height:auto;
    text-align: center;
}
.events h1{
    font-size: 2.5rem;
    color: rgb(0, 0, 114);
    letter-spacing: 3px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 100px;
}

.card-group{
    margin: 30px 30px;
}

.card-title{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.reg-btn{
    font-size: 10px;
    color: white;
    background-color: rgb(0, 123, 255);
    border: black;
}

.reg-btnn{
    font-size: 10px;
}
.marketing{
    text-align: center;
    padding: 0px;
    width: 100%;
    margin: 0px;
}

.co-ordinators{
    margin-top: 100px;
}

.rwo{
    justify-content: center;
}

.row{
    margin-bottom: 50px;
}

.row h1{
    margin-bottom: 20px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 1.5rem;
    color: #E55604;
    text-decoration: underline;
}

.anime-image{
    position: relative;
    bottom: 20px;
}

.co-ordi h2{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
}
.co-ordi{
    margin-top: 10px;
}

.venue{
    width: 100%;
    height: 200px;
    padding: 0px 5%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 100px;
}
.venue iframe{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
}
.venue h1{
    font-size: 1.5rem;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
    font-weight: 700;
    text-decoration: underline;
}


.logo{
    height: 60px;
    width: 100%;
    margin-top: 10px;
    }
    
    header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 0px 4%;
    transition: all .50s ease;
    text-align: center;
    }
    
    .navbar{
    display: flex;
    }
    .navbar-logo{
      display: flex;
      text-align: center;
    }
    .navbar-logo p{
      text-align: center;
      position: relative;
      top: 30px;
    }
    @media (max-width:400px) {
      .navbar-logo p{
        text-align: center;
        position: relative;
        top: 30px;
        font-size: 12px;
      }
    }
    @media (max-width:300px) {
      .navbar-logo p{
        text-align: center;
        position: relative;
        top: 30px;
        font-size: 10px;
      }
    }
    
    .navbar a{
    color: var(--text-color);
    font-size: 1rem;
    font-size: 300;
    margin: 0px 30px;
    transition: all .50s ease;
    opacity: 80%;
    }
    
    .navbar a:hover{
    color:var(--main-color);
    opacity: 100%;
    }
    
    .navbar a.active{
    color: var(--main-color);
    opacity: 100%;
    position: relative;
    }
    
    .navbar a.active::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    }
    
    #menu-icon{
    font-size: 35px;
    color: var(--text-color);
    cursor: pointer;
    z-index: 10001;
    display: none;
    }
    
    @media(max-width:1280px) {
    header{
        padding: 5px 2%;
        transition: .2s;
    }
    .navbar a{
        padding: 5px 0;
        margin: 0px 20px;
    }
    }
    
    
    @media(max-width:850px){
    #menu-icon{
        display: block;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 30%;
        height: auto;
        background: var(--text-color);
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }
    .header{
        padding: 0px;
        text-align: center;
    }
    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0px 25px;
        color: var(--bg-color);
        transition: all .50s ease;
        text-align: center;
    }
    .navbar a:hover{
        color:var(--bg-color);
        transform: translateY(-1px);
    }
    .navbar a.active{
        color: var(--bg-color);
        position: relative;
    }
    .navbar.open{
        right: 2%;
    }
    
    .navbar a.active::after {
      content: "";
      position: absolute;
      left: 30%;
      bottom: -5px;
      width: 40%;
      height: 1px;
      background-color: black;
    }
    }
    
    @media (max-width:500px) {
    .navbar{
        width: 50%;
    }
    }
    
    .scrolled {
      margin-top: 0px;
      background-color: black;
    }


ul,li,ol{
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    }






    .modal-close {
        position: absolute;
        top: 5px;
        right: 20px;
        cursor: pointer;
        font-weight: bolder;
        font-size: 20px;
      }
      


      .footer{
        margin-top: 20px;
        background-color: black;
        width: 100%;
        height: 250px;
      }
