

.navbar{
    max-width: 100%;
    overflow-x: hidden;
    background-color: black;
}

.navbar-brand{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
}

.launch-time{
    display: flex;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.launch-time div{
    flex-basis: 100px;
}
.launch-time div p{
    font-size: 1rem;
    margin-bottom: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.launch-time div span{
    font-weight: bold;
    text-transform: uppercase;
}
.navbar-nav{
    text-align: center;
    justify-content: center;
}
.nav-item{
    text-align: center;
    justify-content: center;
}

.nav-text{
    margin-top: 10px;
    text-align: center;
    font-size: 8px;
    letter-spacing: 0.5px;
}

.navbar-toggler{
    display: flex;
    margin-left: 80%;
}

.bg-image{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.bg-image img{
    background-position: cover;
    opacity: 0.2;
}

.eloque-title{
    width: 100%;
    overflow: hidden;
}

.eloque-title img{
    width: 100%;
    position: absolute;
    top: 15%;
    z-index: -1;
}

.ecllips{
position: absolute;
width: 100%;
height: 712px;
left: 0;
top: 0;
background: #007bff;
filter: blur(200px);
z-index: -999;
overflow: hidden;
}
@keyframes moveEllipse2 {
    0% {
      transform: translateX(-20%);
    }
    100% {
      transform: translateX(20%);
    }
  }
  
  @keyframes moveEllipse3 {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100%);
    }
  }
.ecllips2{
    position: absolute;
    width: 300px;
    height: 100px;
    left: 0;
    top: 250px;
    background: #00ff88;
    filter: blur(70px);
    z-index: -999;
    overflow: hidden;
    animation: moveEllipse2 7s linear infinite alternate;
    animation: moveEllipse3 7s linear infinite alternate;
    }
    .ecllips3{
        position: absolute;
        width: 100px;
        height: 100px;
        right: 0;
        top: 400px;
        background: #fb22ff;
        filter: blur(100px);
        z-index: -999;
        overflow: hidden;
        animation: moveEllipse3 7s linear infinite alternate;
        }


a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.home{
    width: 100%;
    overflow: hidden;
}

.reg-now{
    font-size: 10px;
    background-color: rgb(7, 0, 74);
    margin: 100px;
    padding: 15px;
    margin-top: 10px;
    text-align: center;
    letter-spacing: 0.5px;
    border-radius: 5px;
}

.date-venue{
    width: 100%;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 120px;
}
.date-venue .datee{
    font-weight: 700;
    letter-spacing: 6px;
    color: rgba(255, 255, 255, 0.881);
    text-decoration: overline;
}
.dateee{
    font-weight: bold;
    letter-spacing: 5px;
}
.date-venue .venuee span{
    font-weight: 700;
    letter-spacing: 6px;
    color: black;
}

.date-venue .venuee{
    letter-spacing: 0.5px;
    font-weight: 500;
    color: rgb(0, 0, 114);
    padding: 0px 20px;
}


.events{
    height:auto;
    text-align: center;
}
.events h1{
    font-size: 2.5rem;
    color: rgb(0, 0, 114);
    letter-spacing: 3px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 100px;
}

.card-group{
    margin: 30px 30px;
}

.card-title{
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
}

.reg-btn{
    font-size: 10px;
    color: white;
    background-color: rgb(0, 123, 255);
    border: black;
}

.marketing{
    text-align: center;
    padding: 0px;
    width: 100%;
    margin: 0px;
}

.co-ordinators{
    position: relative;
    margin-top: 100px;
    overflow-x: hidden;
}

.rwo{
    justify-content: center;
}

.row{
    margin-bottom: 50px;
}

.row h1{
    margin-bottom: 50px;
    font-weight: bold;
    letter-spacing: 0.5px;
    font-size: 1.5rem;
    color: rgb(183, 64, 0);
}

.anime-image{
    position: relative;
    bottom: 0;
}

.co-ordi h2{
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 10px;
}
.co-ordi{
    margin-top: 10px;
}

.venue{
    width: 100%;
    height: 300px;
    padding: 0px 5%;
    text-align: center;
    margin-top: 50px;
    position: relative;
    margin-bottom: 200px;
}
.venue iframe{
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.venue h1{
    font-size: 2.5rem;
    color: rgb(0, 0, 114);
    letter-spacing: 3px;
    font-weight: 700;
    text-decoration: underline;
    margin-bottom: 50px;
}